# Default ignored files
/shelf/
/.idea/workspace.xml
target/
.idea
*.iws
twitter-to-kafka-service/logs/
docker-compose/docker-logs/
config-server/logs/
elastic-query-service/elastic-query-service/logs/
elastic-query-service/logs/
kafka-to-elastic-service/logs/
reactive-elastic-query-service/logs/
reactive-elastic-query-web-client/logs/

